

div h1 {
    font-family: "am-udine", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FECA76;
    font-size:50px;
    text-align: center;
}

.aboutlabel{
    font-family: "redondo-ave", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:90px;
    color: #FECA76;
    text-align: center;
}

.label{
    font-family: "redondo-ave", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:150px;
    color: #FECA76;
    text-align: center;
}

.navbar{
    background-color: #f7b752;
    align-items: center;
    justify-content: space-between;
}

.navlogo{padding-top: 16px;
padding-bottom: 16px;}

.navlinks{
    display: flex;
    gap: 40px;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-family: gala, sans-serif;
    font-weight: 500;
    font-size: 30px;
    font-style: normal;
    color: #292929;
}

img{
    border-radius: 25px;
}

.top{
    padding-top:195px;
}

.welcome{
    padding-top: 250px;
    padding-bottom:250px;
}


div h3 {
    font-family: "am-udine", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FECA76;
    font-size:60px;
    text-align: center;
    }


div p strong {
    font-family: "proxima-nova", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}


div p {
    font-family: "proxima-nova", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: #fff3e9;
}

.price{
    color: #FECA76;
}

div, footer {
    background-color: #d32f39;
    padding: 10px;
  }

.reserve{font-family: "proxima-nova", sans-serif;
    font-weight: 500;
    font-style: normal;}

form p{
    font-family: "proxima-nova", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: rgb(27, 27, 27);
}

.contact{
    font-family: gala, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    color: #FECA76;
}

.button{
    border: none;
    border-radius: 12px;
    color: black;
    background-color:#f7b752;
    padding: 15px 32px;
    text-align: center;
    font-family: gala, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    display: inline-block;
    /* margin: 4px 2px; */
    cursor: pointer;
  }

  .button:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }